<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tim.gentleresolve">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="Gentle Resolve"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name=".main_ui.StartActivity">

            <!-- android:theme="@style/StartTheme"> -->
        </activity>
        <activity android:name=".main_ui.CreateActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.tim.gentleresolve.main_ui.StartActivity" />
        </activity>
        <activity android:name=".main_ui.ManifestActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.tim.gentleresolve.main_ui.ManifestActivity" />
        </activity>
        <activity android:name=".api_ui.FindSupportActivity" />
        <activity android:name=".api_ui.ResultsListActivity" />
        <activity android:name=".main_ui.AchievementsActivity" />
        <activity android:name=".api_ui.ResultsDetailActivity" />
        <activity android:name=".main_ui.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            />
        </activity>
        <activity android:name=".main_ui.CreateAccountActivity" />
        <activity android:name=".api_ui.SavedMeetupActivity"></activity>
    </application>

</manifest>